/* COLORES  */
:root {
  --background: #edf0f5;
  --primary: #1b264f;
  --secondary: #b1b8c4; /* SUB  */
  --subtitlesecondary: #657185;
  --accent: #dee1e6;
  --light: #657185; /* SUB 2  */
  --titlesecondary: #dee2e7;
}

/* BASE DE ATRAS BLAN*/
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Inter", Arial,
    sans-serif;
  background: var(--background);
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* ── Sidebar ── */
.sidebar {
  width: 350px;
  background: var(--titlesecondary);
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 4px;
  flex-shrink: 0;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 50px;
}

.sidebar-logo img {
  width: 250px;
  object-fit: contain;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 16px;
  font-size: 28px;
  font-weight: 600;
  color: var(--primary);
  text-decoration: none;
}

.nav-item img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.nav-item.active {
  background: var(--primary);
  color: #fff;
}

.logo img {
  width: 150px;
}

/* MAIN */
.main {
  flex: 1;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* COLOR TITULO AJUSTES */
h1 {
  margin: 0;
  color: #1b264f;
  font-size: 36px;
  margin-top: 16px;
}

/*Alejandro admin*/
.sub {
  color: var(--subtitlesecondary);
  font-weight: 600;
  font-size: 36px;
  margin-top: 5px;
}

/* AVATAR */
.header-top img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* SECTIONS */
.section {
  margin-top: 10px;
}

/* (Miembros, Cuentas, etc) */
.section h3 {
  font-size: 36px;
  color: #b1b8c4;
  font-weight: 600;
}

/* HEADER SECTION */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CARD BASE FONDITO DE LOS CUADROS*/
.card-box {
  background: var(--accent);
  padding: 16px;
  border-radius: 18px;
  margin-top: 10px;
}

/* MEMBERS */
.members {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.member {
  background: #f6f7f8;
  padding: 16px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1;
  max-width: 200px;
  transition: 0.2s;
}

.member:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
}

.member img {
  width: 32px;
}

/* NOMBRES (Ana, Checking, etc) */
.name {
  font-weight: 600;
  font-size: 20px;
  color: var(--primary);
}

.member span {
  font-size: 16px;
  color: var(--primary);
}

/* ACCOUNTS */
.accounts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.account {
  background: #f6f7f8;
  padding: 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.account img {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: #1b264f;
}

.account span {
  font-size: 12px;
  color: #657185;
}

/* BUTTON */
.btn {
  background: #1b264f;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #1b264f;
}

/* ADMIN / DANGER SECTION */
.danger {
  background: #f6f7f8;
  padding: 24px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}

.danger-title {
  color: #be3232;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 6px;
}

.danger-text {
  font-size: 13px;
  color: #657185;
}

.danger-btn {
  margin-top: 20px;
}

.btn-danger {
  background: #be3232;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-danger:hover {
  background: #c62828;
  transform: scale(1.03);
}

/* INFO */
.info p {
  font-size: 13px;
  color: #657185;
  margin: 5px 0;
}

/* ALERT & SWITCH */
.alert {
  display: flex;
  justify-content: space-between;
  color: #657185;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3e5170;
  border-radius: 20px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 3px;
  background: #1b264f;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background: #b1b8c4;
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  padding-left: 20px;
}

.divisor {
  border: none;
  height: 2px;
  background: #657185;
  border-radius: 10px;
  margin: 0 40px 20px;
}

.textofoot img {
  height: 60px;
  padding-top: 20px;
  object-fit: contain;
  max-width: 200px;
}

.textosvert h4 {
  font-weight: 300;
  font-size: 13px;
  color: #657185;
  margin: 4px 0;
}

.inner-card {
  background: #ffffff;
  padding: 18px;
  border-radius: 14px;
}

/* MODALES e INTERACCIÓN */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

.modal-sub {
  font-size: 13px;
  color: #8b93a7;
  margin-bottom: 15px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #e5e7eb;
  margin-bottom: 15px;
}

.colors {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.color {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}

.color:hover {
  transform: scale(1.1);
}

.color.selected {
  outline: 3px solid #1c2340;
  transform: scale(1.15);
}

.modal-btn {
  width: 100%;
}

.select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #e5e7eb;
  margin-bottom: 10px;
  font-size: 14px;
}
